<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Ofmax.co.uk>
        <meta name="keywords" content="Logistics,Shipping and delivery">
        <meta name="author" content="Ofmax">
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <!-- Title -->
        <title>Ofmax</title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,700,800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/plugins/font-awesome/css/all.min.css" rel="stylesheet">
        <link href="assets/plugins/perfectscroll/perfect-scrollbar.css" rel="stylesheet">
        <link href="assets/plugins/pace/pace.css" rel="stylesheet">

      
        <!-- Theme Styles -->
        <link href="http://phantom-themes.com/neo/theme/assets/css/main.min.css" rel="stylesheet">
        <link href="assets/css/custom.css" rel="stylesheet">

        <link href="assets/plugins/DataTables/datatables.min.css" rel="stylesheet">   

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="pace-done no-loader">
      

      <div class="page-container">
        <div class="page-sidebar ps">
          <a class="logo" href="index.html">Ofmax.co.uk</a>
          <ul class="list-unstyled accordion-menu ps">
            <li>
              <a href="admin.html"><i data-feather="activity"></i>Dashboard<i class="fas fa-chevron-right dropdown-icon"></i></a>
             
            </li>
            <li>
              <a href="allusers.html"><i data-feather="aperture"></i>Users<i class="fas fa-chevron-right dropdown-icon"></i></a>
            </li>
            <li>
              <a href="admin-orders.html"><i data-feather="aperture"></i>Orders<i class="fas fa-chevron-right dropdown-icon"></i></a>
              
            </li>
           
           
            
          </ul>
          <a href="#" id="sidebar-collapsed-toggle"><i data-feather="arrow-right"></i></a>
      </div>
      <div class="page-content">
        <div class="page-header">
          <nav class="navbar navbar-expand-lg d-flex justify-content-between">
            <div class="header-title flex-fill">
              <a href="index.html#" id="sidebar-toggle"><i data-feather="arrow-left"></i></a>
              <h5>Dashboard</h5>
            </div>
              <div class="header-sarch">
              <a href="" class="btn btn-secondary">Logout</a>
              </div>
           
          </nav>
      </div>
            <div class="main-wrapper">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-8">
                                        <h5>Order Details</h5>
                                    </div>
                                    <div class="col-4">
                                        <h4 class="float-end">#511</h4>
                                    </div>
                                </div>
                              <div class="invoice-details">
                                <div class="row">
                                    <div class="col">
                                        <p class="info">Order Date:</p>
                                        <p>Jan 8, 2021</p>
                                    </div>
                                    <div class="col">
                                        <p class="info">Order Number:</p>
                                        <p>#I988O237</p>
                                    </div>
                                    <div class="col">
                                        <p class="info">Received From:</p>
                                        <p>Name: Ebay</p>

                                    </div>
                                    <div class="col">
                                      <p class="info">Delivery Address:</p> 
                                      <p>Name: chinweuba Chuwkewuola</p>
                                      <p>John Doe, New York</p>
                                      <p>5025 Collwood Blvd, apt. 2314</p>
                                    </div>
                                </div>
                              </div>
                                <div class="row">
                                  <div class="table-responsive">
                                    <table class="table invoice-table">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">items Recived</th>
                                            <th scope="col">qty</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Actions</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">3311</th>
                                            <td>Nina Doe</td>
                                            <td>11 APR 2021</td>
                                            <td>$3223</td>
                                            <td><span class="badge bg-primary">Recived</span></td>
                                            <td>
                                              <a href="invoice.html#"><i data-feather="delete"></i></a>
                                             
                                            </td>
                                          </tr>
                                         
                                        </tbody>
                                      </table>
                                      </div>
                                </div>
                                <div class="row invoice-last">
                                    <div class="col-9">
                                    .
                                    </div>
                                    <div class="col-3">
                                        <div class="invoice-info">
                                            <p>Subtotal <span>$1700</span></p>
                                            <p>Shipping cost<span>$30</span></p>
                                            
                                            <p class="bold">Total <span>$1336</span></p>
                                            <div class="d-grid gap-2">
                                              <button class="btn btn-danger m-t-xs" type="button">Delete</button>
                                              <button class="btn btn-primary m-t-xs" type="button">Edit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               
                                  
                </div>
              
            </div>

            <div class="activity-sidebar-overlay"></div>
      
            <script src="assets/plugins/jquery/jquery-3.4.1.min.js"></script>
            <script src="https://unpkg.com/@popperjs/core@2"></script>
            <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
            <script src="https://unpkg.com/feather-icons"></script>
            <script src="assets/plugins/perfectscroll/perfect-scrollbar.min.js"></script>
            <script src="assets/plugins/pace/pace.min.js"></script>
            <script src="assets/plugins/DataTables/datatables.min.js"></script>
            <script src="assets/js/main.min.js"></script>
            <script src="assets/js/pages/datatables.js"></script>
    </body>
</html>