<div class="page-sidebar ps">
          <a class="logo" href="{% url 'index' %}">Ofmax.co.uk</a>
          <ul class="list-unstyled accordion-menu ps">
            <li>
              <a href="{% url 'index' %}"><i data-feather="activity"></i>Dashboard<i class="fas fa-chevron-right dropdown-icon"></i></a>
             
            </li>
            <li>
              <a href="{% url 'orders' %}"><i data-feather="aperture"></i>My Orders<i class="fas fa-chevron-right dropdown-icon"></i></a>
              
            </li>
          
            <li>
              <a href="{% url 'edit' %}"><i data-feather="aperture"></i>Edit Account<i class="fas fa-chevron-right dropdown-icon"></i></a>
              
            </li>
            <li>
              
              
            </li>
            
          </ul>
          <a href="blank-page.html#" id="sidebar-collapsed-toggle"><i data-feather="arrow-right"></i></a>
        </div>