{% autoescape off %}
  <!-- This project needs rework-->
    <div id=":2wj" class="ii gt"><div id=":2wk" class="a3s aiL msg-3717186124338345286"><u></u>

    <!-- Use the as the email subject:

    Techdegree Project Update: Needs work

    >>>> Need Rework, Meet Expectations and Exceed Expectations should change dinamicly" 
    -->

      <div style="box-sizing:border-box;color:#576366;text-align:center;margin:0;padding:0;font:14px/24px &quot;Gotham Rounded&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;background:#edeff0" bgcolor="#edeff0">
        <span style="display:none!important;box-sizing:border-box;margin:0;padding:0"></span>
        <div style="box-sizing:border-box;background-color:#edeff0;color:#576366;margin:0;padding:10px;font:14px/24px &quot;Gotham Rounded&quot;,&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif" align="center">
          <table style="box-sizing:border-box;border-collapse:collapse;width:600px;text-align:left;margin:0 auto;padding:0">
            <tbody><tr style="box-sizing:border-box;margin:0;padding:0">
              <td style="box-sizing:border-box;margin:0;padding:10px 0 20px" align="left" valign="top">
                <a href="#" style="box-sizing:border-box;text-decoration:none;color:#69779b;display:block;margin:0;padding:0;border:0 none" target="_blank"><img alt="ofxmax" width="183" height="26.0606" src="logo.PNG" style="box-sizing:border-box;display:inline-block;width:183px;height:26.0606px;margin:0;padding:0;border:0 none;border-style:none" class="CToWUd"></a>
              </td>
            </tr>
            <tr style="box-sizing:border-box;margin:0;padding:0">
              <td style="box-sizing:border-box;border-radius:4px;margin:0;padding:0" align="left" bgcolor="#fff" valign="top">
                
    <table style="box-sizing:border-box;border-collapse:collapse;width:100%;margin:0;padding:0"><tbody><tr style="box-sizing:border-box;margin:0;padding:0"><td style="box-sizing:border-box;margin:0;padding:35px 40px" align="left" valign="top">
      <h1 style="box-sizing:border-box;font-weight:bold;color:#4b5658;line-height:1.7;font-size:20px;margin:0 0 15px;padding:0">Hi {{user.username}}</h1>
    <h2 style="box-sizing:border-box;font-weight:normal;color:#4b5658;line-height:1.7;font-size:18px;margin:0 0 15px;padding:0">
      welcome to ofxmax click the button below to navigate our website
     
    </h2>
    
    <br />
    <a  href="{{site_url}}" style="box-sizing:border-box;text-decoration:none;color:#fff;border-radius:4px;display:inline-block;height:40px;line-height:36px;font-weight:bold;white-space:nowrap;background-color:#1F1F2F;margin:0;padding:0 15px;border:2px solid #69779b" target="_blank">Dashboard</a>
 

      <table style="box-sizing:border-box;border-collapse:collapse;width:100%;margin:0;padding:0">
        
    </table>
    </td></tr></tbody></table>
              </td>
            </tr>
            <tr style="box-sizing:border-box;margin:0;padding:0">
              <td style="box-sizing:border-box;margin:0;padding:40px 0 0" align="center" valign="top">
                <p style="box-sizing:border-box;font-size:13px;line-height:22px;color:#9fa9b2;margin:0;padding:0"><span class="il"></span></p>
                <p style="color:#9fa9b2;font-size:12px;box-sizing:border-box;line-height:22px;margin:0px;padding:0 0 15px" align="center">
                  <a href="#" rel="nofollow" style="color:#9fa9b2;text-decoration:none;font-weight:100!important;box-sizing:border-box;margin:0;padding:0;border:0 none" target="_blank"></a>
                </p>
                <p style="box-sizing:border-box;font-size:13px;line-height:22px;color:#9fa9b2;margin:0;padding:0">
                 
                <!--
                <span style="box-sizing:border-box;color:#bbc2c9;margin:0 4px;padding:0">•</span>
                  <a href="" style="box-sizing:border-box;text-decoration:none;color:#9fa9b2;font-weight:bold;margin:0;padding:0;border:0 none" target="_blank" >Manage Email Preferences</a>
                    <span style="box-sizing:border-box;color:#bbc2c9;margin:0 4px;padding:0">•</span>
                    <a href="" style="box-sizing:border-box;text-decoration:none;color:#9fa9b2;font-weight:bold;margin:0;padding:0;border:0 none" target="_blank" >Unsubscribe</a>
                -->
                </p>
                <table style="box-sizing:border-box;border-collapse:collapse;width:auto;margin:0 auto;padding:0">
                  <tbody style="box-sizing:border-box;margin:0;padding:0">
                    
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody></table>
        </div>



    </div></div></div>

{% endautoescape %}